<footer>
  <div class="footer">
    <div class="footerNav">
      <ul class="footerUl">
        <li><a [routerLink]="[ '/delivery-shipping' ]">Delievery & Shipping</a></li>
        <li><a [routerLink]="[ '/returns' ]">Returns</a></li>
        <li><a [routerLink]="[ '/frequently-asked-questions' ]">FAQ</a></li>
        <li><a [routerLink]="[ '/contact-us' ]">Contact Us</a></li>
      </ul>
    </div>
    <div class="followSocial">
      <ul>
        <li><a href="https://www.instagram.com/vladmiller4/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/vlad.melnyk8/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
