<div class="headerImage"></div>
<section>
  <div class="returns">
    <div class="titleOfComponents">
      <h3>Returns</h3>
    </div>
    <div class="mainList">
      <p class="noneLess1024">ITEMS PURCHASED FROM SUNNYGLASSER.COM MAY BE RETURNED FOR A REFUND BY THE TERMS OUTLINED IN THE BELOW POLICY:
      </p>
      <h4>Return Requests:</h4>
      <p>
        Return requests for purchases made from sunnyglasser.com must be made within ten (10) days from the customer
        receipt
        date as recorded by Fedex. In order to make a return request and receive a Return Authorization Number and Form,
        please contact our Customer Service team at info@sunnyglasser.com.

        Please note, product returned to sunnyglasser.com without a Sunny Glasser issued Return Authorization number
        clearly
        visible on the outside of the packaging will be returned to sender upon attempted delivery.

        Items purchased from a Sunny Glasser Retail Location or an Authorized Sunny Glasser Retailer may not be returned
        to
        bartonperreira.com and must be returned by visiting your original purchase location.</p>

      <h4>Quality / Component Requirements for Product Returns:</h4>
      <p>
        All product returned must be in a like new, re-saleable condition, and include all original protective materials
        and
        accessories including, but not limited to: temple sleeves, cases, cleaning cloths, authenticity cards, boxes,
        and
        booklets.

        Product which has had the lenses removed or altered, has visibly been worn, or has been adjusted for custom bend
        and
        / or fit alteration will not receive a refund and will be returned to the customer at a rate of $20.00 per
        shipment.
      </p>

      <h4>Return Shipment:</h4>
      <p>
        Sunny Glasser is happy to offer complimentary shipping for product returns and will issue a return shipping
        label in
        conjunction with the Return Authorization Form.

        All return shipments should be sent back securely packed in their original corrugated carton and void fill. If
        the
        original corrugated carton is unavailable, a comparable heavy corrugated shipping carton and appropriate void
        fill
        materials may be used. A copy of the Return Authorization form must also be included with the return shipment

        Any product damaged during return shipment due to inadequate packaging and / or void fill materials will not be
        the
        responsibility of sunnyglasser.com and no refund shall be issued.</p>
    </div>
  </div>
</section>
