<div class="headerImage"></div>
<section>
  <div class="deliveryAndShipping">
    <div class="titleOfComponents">
      <h3>Delivery & Shipping</h3>
    </div>
    <div class="mainList">
      <h4>Delivery Time:</h4>
      <p>
        Delivery time depends upon the delivery service type you select when you place an order. Refer to the chart
        below to
        determine the shipping method and delivery window that best suits your needs.

        Business Days are Monday through Friday, excluding federal holidays within the U.S.

        If you place your order after 11:00am PT, add one business day to your delivery time. For example, an order
        placed
        on Monday before 11:00am PT for overnight delivery would normally arrive within 1-2 business days - either
        Tuesday
        or Wednesday. The same order placed after 11:00am PT will arrive within 2-3 business days - either Wednesday or
        Thursday.

        Orders for Saturday delivery must be placed on Friday before 9:00am PT.

        Lower 48 states, Alaska and Hawaii.

        Delivery Service Charge Delivery time if ordered BEFORE 11:00am PT 2nd Day Air FREE 2 - 3 Business Days
        Overnight
        $20.00 1 - 2 Business Days Saturday Delivery (If Available) $40.00 1 Business Day (If ordered on Friday before
        9:00am PT)</p>
      <h4>Shipping Rules & Restrictions:</h4>
      <p>

        Orders are shipped on business days only. Orders paid via credit card will be authorized at time of order
        placement
        and charged at time of shipment. Please contact us at info@sunnyglasser.com if you have any questions.

        Please note our warranty does not cover damage caused by mishandling via airline or third party shipping
        companies.
        SUNNY GLASSER cannot be held responsible for items delivered to the wrong address, lost or stolen in transit or
        otherwise delayed by third-party shipping companies, postal depots, freight forwarders, etc.</p>
      <h4>Tracking Your Order:</h4>
      <p>

        At our warehouse, tracking numbers are assigned at time of package shipment and will be delivered to you via
        email
        once your shipment has been processed, however it may take up to 24 hours or longer before the package is
        checked
        into the carrier's tracking system. This means that even though your package has already left from our facility
        and
        is in transit to you, the carrier may not be able to provide any information about your package for up to 24
        hours
        or more.</p>

      <h4>Checking Your Order Status:</h4>
      <p>

        There are several options for checking on the status of your order.

        Check your email: You will receive emails from us keeping you up-to-date with the status of your order.

        Log in to your bartonperreira.com account: If you have created an account with us prior to checkout, you can log
        into your account at www.sunnyglasser.com and locate your most up-to date order status.

        Contact Us: If you still have questions about your order, please contact us via email at info@sunnyglasser.com
        or
        call our Customer Service Department at 949-954-1850.</p>
    </div>
  </div>
</section>
