<div class="headerImage"></div>
<section>
  <div class="contactUS">
    <h2>GET IN TOUCH</h2>
    <div class="inTouchBlocks">
      <div class="contactBlock">
        <p><img src="../../../assets/img/cphone.png"></p>
        <p>(979) 878-4411</p>
      </div>
      <div class="contactBlock">
        <p style="margin-top: 35px;"><img src="../../../assets/img/cmail.png"></p>
        <p style="margin-top: 45px;">info@sglasser.com</p>
      </div>
      <div class="contactBlock">
        <p><img src="../../../assets/img/cmap.png"></p>
        <p>410 Mary Ave</p>
        <p style="margin-top: -10px;">Sunnyvale, CA 94085</p>
      </div>
    </div>
    <h5>We're here to help you find exactly what you're looking for - from products and services to stores and policies.
      So if at any time you can't find what you need, don't hesitate to contact us.</h5>
  </div>
</section>
