.adminProductsAdd {
  padding: 50px;
  padding-top: 0px;
}

.form-group {
  margin-top: -30px;
}

.form-group select {
  margin-top: 10px;
}

.form-group input {
  margin-top: 10px;
}

.form-group div {
  margin-top: 10px;
}

.checkboxes {
  width: 100%;
  color: #495057;
  display: flex;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
  border-radius: .25rem;
}

.checkboxes p {
  margin: 0;
  font-size: 1rem;
}

.checkboxes div {
  margin-top: 0px;
}

.checkboxes input {
  margin: 0;
  margin-right: 8px;
  margin-left: 50px;
}
