<div class="headerImage"></div>
<section>
  <div class="FAQs">
    <h2>CUSTOMER ASSISTANCE</h2>
    <p>Here you will find the answers to your questions about shopping this site, your order, payment options and more.
      Simply select from the categories below for complete information.</p>
    <div class="mainFAQs">
      <div class="itemFAQ">
        <a class="faqLink">
          How do I make a return?
        </a>
        <div class="answer">
            Effective 3/12/2020, our return policy has been extended to 90 days. Once our stores are reopened, you are welcome to return your purchase from sunnyglasser.com free of charge to any Sunny Glasser Retail or Company Store. A return shipping fee of USD $9.95 will still be charged for orders returned by mail that use a Sunny Glasser return shipping label.
        </div>
      </div>
      <div class="itemFAQ">
        <a class="faqLink">
          Do I need an account to place an order?
        </a>
        <div class="answer">
          No. While we highly encourage you to create an account for ease when purchasing online, an account is not needed to make a purchase.
        </div>
      </div>
      <div class="itemFAQ">
        <a class="faqLink">
          What do I do if I receive a damaged or defective item?
        </a>
        <div class="answer">
          You can request assistance by contacting our Customer Service team by clicking here.
        </div>
      </div>
    </div>
  </div>
</section>
